@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root{
    --cor-primaria: #2C3333;
    --cor-secundaria: #0E8388;
    --cor-terciaria: #CBE4DE;
    --cor-hover: #2E4F4F;
    --fonte-principal: font-family: 'Krona One', sans-serif;
    --fonte-secundaira: font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}
.conteudo{
    margin: 9% 15%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.conteudo-texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.conteudo-texto-titulo{
    font-family: var(--fonte-principal);
    font-size: 2.5rem;
    font-weight: 600;
}
.conteudo-texto-subtitulo{
   color: var(--cor-secundaria);
}
.conteudo-texto-paragrafo{
    font-family: var(--fonte-secundaira);
    font-size: 1.5rem;
    font-weight: 400;
}

.conteudo-texto-botao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;  
}
.conteudo-texto-botao-subtitulo{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
}
.conteudo-texto-botao-link{
    display:flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
    width: 55%;
    text-decoration: none;
    border: 2px solid var(--cor-secundaria);
    border-radius: 16px;
    padding: 16px 0;
    font-family: var(--fonte-secundaira);
    font-size: 1.5rem;
    color: var(--cor-terciaria);

}
.conteudo-texto-botao-link:hover{
    background-color: var(--cor-hover);    
}
.conteudo-imagem{
    width: 40%;
    border-radius: 360px;
}
.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    padding: 18px;
    text-align: center;
    font-family: var(--fonte-secundaira);
    font-weight: 400;
    font-size: 1.5rem;    
}
@media(max-width: 900px){
    .conteudo{
        flex-direction: column-reverse;
    }
    .conteudo-texto{
        width: auto;
    }
    .conteudo-texto-botao-link{
        width: 100%;
    }
    .conteudo-imagem{
        width: 80% ;
        border-radius: 8px;
    }
}
